.dashboard.import
  %aside
    = render partial: 'sidebar'
  %main
    .main-header
      Import CSVs
    = render partial: 'partials/flash'
    .main-container
      %p Import multiple files here. This process may take some time, depending on how many entries you have.