.dashboard.import
  %aside
    = render partial: 'sidebar'
  %main#droparea
    .main-header
      Import CSVs
    = render partial: 'partials/flash'
    .main-container
      %p Click and drag to import multiple files here. This process may take some time, depending on how many entries you have.

      = form_tag({controller: :csv, action: :upload}, class:'dropzone', multipart: true) do
        = file_field_tag 'file', multiple: true
        %input{type: "Submit", class: "csv_submit"}
