You just requested this email to help you reset your password. Simply follow
= link_to 'this link', reset_password_url(@reset_password_token)
or copy paste

= reset_password_url(@reset_password_token)

into your browser to get started.

If you didn't request this, you can either ignore this or let us know by replying to this email. Someone may be trying to get unauthorized access to your TrackFantasy account.