!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', :"http-equiv" => 'Content-Type'}
  %body
    %p
      You just requested this email to help you reset your password. Simply follow
      = link_to 'this link', reset_password_url(@reset_password_token)
      or copy paste
    %p
      = link_to reset_password_url(@reset_password_token), reset_password_url(@reset_password_token)
    %p
      into your browser to get started.
    %p
      If you didn't request this, you can either ignore this or let us know by replying to this email. Someone may be trying to get unauthorized access to your TrackFantasy account.
    %p
      Cheers,
    %p
      TrackFantasy Team
    %p
      support@trackfantasy.com