.dashboard {
  @include fill-parent();
  text-align: center;
}

.amount {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 12px;
  font-family: $secondary-font;
}

.graph {
  margin: auto;
  max-width: 1600px;
  min-height: 400px;

  .fa {
    margin-top: 10%;
  }
}

aside {
  background: #fff;
  border-right: 1px solid $border;
  text-align: left;
  min-height: 100%;
  position: fixed;
  width: 220px;
  font-size: 18px;
  top: 0;

  .dashboard-nav-header {
    height: 40px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid $border;
    background: #F6F5FA;

    .logo {
      color: $fill-saturated;
      font-size: 24px;
    }
  }

  ul {
    li {
      a {
        display: block;
        line-height: 32px;
        width: 100%;
        padding: 10px 12px;

        &:hover {
          background: #A3B5DE;
        }

        &:focus {
          background: darken(#A3B5DE, 5%)
        }

        &.active {
          font-weight: 700;
        }
      }
    }
  }
}

main {
  margin-left: 220px;
  background: $off-white;

  .main-container {
    margin: 60px 20px 20px 20px;
    border: 1px solid $border;
    background: #fff;
    padding: 20px;
  }
}

.main-header {
  height: 40px;
  background: #E4E7EC;
  border-bottom: 1px solid $border;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  padding: 10px 20px;
  text-align: left;

  input[type=date] {
    font-family: $primary-font;
    margin-right: 10px;
  }

  input[type=submit] {
    color: #E4E7EC;
    background: $primary-saturated;
    border: 2px solid $primary-saturated;
    border-radius: 3px;
    font-size: 12px;
    font-family: $secondary-font;
    position: absolute;
    line-height: 12px;

    &:hover {
      cursor: pointer;
      background: darken($primary-saturated, 5%);
      border: 2px solid darken($primary-saturated, 5%);
    }

    &:focus {
      outline: none;
    }
  }

  .js-filter-loader {
    display: none;
    margin-left: 12px;
  }
}

.main-errors {
  display: none;
  color: $red;
  background: #FAB6B6;
  padding: 5px;
  width: 100%;
  border: 1px solid $red;
  border-radius: 3px;
  margin-bottom: 20px;
}

.primary-figure {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;

  .label {
    text-transform: uppercase;
  }

  .fa {
    font-size: 16px;
  }
}