.import h3 {
  margin-top: 0;

  span {
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
  }
}

.import-dropzone {
  background: #E3F2FD;
  min-height: 400px;
  border: 3px dotted #888;
  padding: 40px;

  &.highlighted {
    background: #BBDEFB;
    border: 3px dotted #555;
  }
}

.csv-importer {
  margin-top: 20px;

  .clickable-select {
    @include btn(#546E7A);
    margin-bottom: 40px;
  }

  .csv-submit {
    @include btn;
    margin-top: 20px;
    display: none;
  }

  #import-preview {
    li {
      clear: both;
      list-style: decimal;
      font-size: 24px;
      margin: 20px 0;
      padding: 0 15%;
      text-align: left;
    }

    .file-cell {
      font-size: 12px;

      .name {
        font-size: 24px;
      }

      .size {
        margin-left: 10px;
      }
    }

    .delete-file {
      color: #F57C00;
      line-height: 20px;
      font-size: 12px;
      display: inline-block;
      margin-left: 20px;
      float: right;

      &:hover {
        cursor: pointer;
        color: mix(#F57C00, black, 80%)
      }
    }
  }
}