%h1 Performance Analytics for Daily Fantasy Sports Players
%h2 Make each buy-in count with valuable winrate and scoring metrics at your fingertips.
.btn.cta
  Try for Free

.callout Learn More

%p
  TrackFantasy allows you, the competitive, savvy fantasy sports player to keep track of your winrate, performance, and other valuable numbers. 
%ul
  %li
    .strong Your money, analyzed.
    .sub-vp Bankrolls don't tell the full story. Our dashboard provides insight on how your money is being used and earned.
  %li
    .strong Performance statistics at all levels
    .sub-vp Know which game types you excel at and track performance over time.
  %li
    .strong Your game history, forever.
    .sub-vp It's your data, we'll store it for you for easy lookup and research, always.
