= form_tag payments_path do
  %script{src: "https://checkout.stripe.com/checkout.js", class: "stripe-button", :"data-key" => "#{Rails.configuration.stripe[:publishable_key]}", :"data-description" => "A month's subscription", :"data-amount" => "500"}