@import 'neat/neat-helpers'; // or 'neat-helpers' when in Rails

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 10;
$max-width: em(1088);

// Define your breakpoints
$container-max: new-breakpoint(max-width 1280px 12);
$medium: new-breakpoint(max-width 768px 8);
$small: new-breakpoint(max-width 480px 4);

$primary: #586994;
$primary-saturated: #2B5094;
$accent: #15A560;
$fill: #60677A;
$fill-saturated: #373D4B;
$off-white: #F4F3F1;
$off-white-saturated: #E3EBE9;