@mixin btn($color: #7aabe0, $font-color: #fff, $width: 200px) {
  color: $font-color;
  margin: auto;
  text-align: center;
  width: $width;
  background: $color;
  line-height: 40px;
  border-radius: 3px;
  box-shadow: 0 4px 0px darken($color, 5%);
  position: relative;

  &:hover {
    cursor: pointer;
    background: lighten($color, 2%);
  }

  &:active {
    top: 2px;
    box-shadow: 0 2px 0px darken($color, 5%);
  }
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

.strong {
  font-weight: 700;
}