.splash {
  padding-top: 5%;
  height: 60%;
  max-height: 545px;
  background: #a3a3a3;
  position: relative;

  h1, h2 {
    text-align: center;
    color: #fff;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 32px;
    font-weight: 700;
  }

  h2 {
    font-size: 1.8em;
    margin: 0 0 28px 0;
    font-weight: 300;
  }

  .cta {
    color: #fff;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 360px;
    background: #888;
    padding: 12px 20px;
    border-radius: 3px;
    box-shadow: 0 4px 0px darken(#888, 5%);
    position: relative;

    .cta-header {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 8px;
    }

    .cta-subheader {
      font-size: 14px;
      line-height: 18px;
    }

    &:hover {
      cursor: pointer;
      background: lighten(#888, 2%);
    }

    &:active {
      top: 2px;
      box-shadow: 0 2px 0px darken(#888, 5%);
    }

    margin-bottom: 10%;
  }

  .callout {
    text-align: center;
    margin-bottom: 12px;
  }
}

.details {
  padding: 20px 0;
  background: #3e3e3e;

  p {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  ul {
    @include span-columns(12 of 12);

    li {
      @include span-columns(8 of 12);
      @include shift(2);
      @include omega;
      margin-bottom: 40px;

      @include media($medium) {
        @include span-columns(12 of 12);
        @include shift(0);
      }

      .vp-image {
        @include span-columns(2 of 8);

        @include media($medium) {
          text-align: center;
          @include span-columns(12 of 12);
        }
      }

      .vp-content {
        @include span-columns(6 of 8);

        @include media($medium) {
          text-align: center;
          @include span-columns(12 of 12);
        }

        .vp-header {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 16px;
          font-family: 'Open Sans';
        }

        .sub-vp {
          font-size: 16px;
          line-height: 28px;
        }
      }

      @include media($medium) {
        @include span-columns(12 of 12);
        @include shift(0);
      }
    }
  }
}

.pricing {
  background: #888;
  padding: 40px 0;
  @include span-columns(12 of 12);

  h1, p {
    text-align: center;
  }

  p {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 24px;
  }

  .pricing-cards {
    margin: auto;
    margin-top: 24px;
    text-align: center;

    .card {
      display: inline-block;
      margin-right: 40px;
      @include omega(2n);
      text-align: left;
      border-radius: 6px;
      background: #fff;
      margin-bottom: 40px;

      .card-title {
        margin-top: 0;
        padding: 12px 0;
        font-weight: 700;
        background: #444;
        border-radius: 6px 6px 0 0;

        h3 {
          text-align: center;
          color: #fff;
          font-size: 20px;
        }
      }

      .card-pricing {
        background: #eee;
        padding: 20px 0;
        text-align: center;

        .dollar-figure {
          font-family: 'Open Sans';
          font-weight: 300;
          font-style: italic;
          position: relative;
          bottom: 11px;
          font-size: 16px;
        }

        .dollar-amount {
          font-family: 'Open Sans';
          font-weight: 300;
          font-style: italic;
          font-size: 36px;
        }

        .interval {
          margin-top: 8px;
          text-transform: uppercase;
        }
      }

      .card-details {
        padding: 20px;
      }

      .line-item {
        margin-bottom: 16px;
        font-size: 16px;
      }

      .cta {
        @include btn(#888, #fff, 100%);
        margin-top: 20px;
      }

      @include media($medium) {
        @include span-columns(8 of 12);
        @include shift(2);
        @include omega-reset(2n);
      }

      @include media($small) {
        @include span-columns(12 of 12);
        @include shift(0);
      }
    }
  }
}

.faq {
  padding: 40px 0;

  h1, p {
    text-align: center;
  }

  p {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 24px;
  }

  .q-a {
    @include span-columns(6 of 12);
    @include omega(2n);
    font-size: 14px;
    line-height: 28px;
    margin: 24px 0;
    padding: 0 24px;

    @include media($medium) {
      @include span-columns(12 of 12);
      @include omega-reset(2n);
    }

    .q {
      margin-bottom: 16px;
      text-align: left;
      font-weight: 700;
      font-family: 'Roboto';
    }

    .a {
      text-align: left;
      font-family: 'Roboto';
    }
  }
}