.splash {
  padding-top: 5%;
  height: 60%;
  max-height: 545px;
  background: #a3a3a3;
  position: relative;

  h1, h2 {
    text-align: center;
    color: #fff;
  }

  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 1.8em;
  }

  .cta {
    color: #fff;
    margin: auto;
    text-align: center;
    width: 360px;
    background: #888;
    padding: 12px 20px;
    border-radius: 3px;
    box-shadow: 0 4px 0px darken(#888, 5%);
    position: relative;

    .cta-header {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 8px;
    }

    .cta-subheader {
      font-size: 14px;
      line-height: 18px;
    }

    &:hover {
      cursor: pointer;
      background: lighten(#888, 2%);
    }

    &:active {
      top: 2px;
      box-shadow: 0 2px 0px darken(#888, 5%);
    }

    margin-bottom: 10%;
  }

  .callout {
    text-align: center;
    margin-bottom: 12px;
  }
}

.details {
  padding: 20px 0;

  background: #3e3e3e;

  p {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  ul {
    li {
      @include span-columns(8 of 12);
      @include shift(2);
      @include omega;
      margin-bottom: 20px;

      .vp-image {
        @include span-columns(2 of 8);
      }

      .vp-content {
        @include span-columns(6 of 8);

        .strong {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 16px;
        }

        .sub-vp {
          font-size: 16px;
        }
      }
    }
  }
}

.pricing {
  background: #888;
  padding: 20px 0;

  h1, p {
    text-align: center;
  }

  .pricing-cards {
    margin: auto;
    text-align: center;
    @include shift(1);

    .card {
      @include span-columns (5 of 12);
      text-align: left;
      border-radius: 12px;
      background: #fff;
      padding: 20px;

      h3 {
        margin-top: 0;
      }

      p {
        text-align: left;
        margin-bottom: 8px;
      }

      .dollar-figure {
        font-size: 32px;
      }

      .interval {
        color: #777;
        font-size: 14px;
      }

      .cta {
        @include btn(#888, #fff, 100%);
      }
    }
  }
}