// COLORS

$primary: #586994;
$primary-saturated: #3F72AF;
$primary-deeper: #426994;
$accent: #15A560;
$fill: #60677A;
$fill-saturated: #373D4B;
$off-white: #F4F3F1;
$off-white-saturated: #DFEBE9;
$border: #BBB;

// FONTS

$primary-font: 'Roboto';
$secondary-font: 'Lato';
$logo-font: 'Hammersmith One'